.signup{
    position: relative;
}

.input-signup {
    border:1px solid #f3f3f3;
    background-color: #f3f3f3;
}

.check {
    display: inline-block;
}

.link-terminos{
    color: red; 
}
.btn-signup{
    
  
}
.btn-signup{
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25px;
    background-color: #ed3833;
    border: 1px solid #ed3833

}
.forgot-pass{
    
}