.signup{
    position: relative;
}

.input-signup {
    border:1px solid #f3f3f3;
    background-color: #f3f3f3;
}

.check {
    display: inline-block;
}

.link-terminos{
    color: red; 
}

.btn-signup{
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25px;
    background-color: #ed3833;
    border: 1px solid #ed3833
}

.btn-signup.btn.btn-primary:hover{
    color:#ed3833;
    background-color: #fff;
    border: 1px solid #ed3833;
}

.no-user {
    margin: 0 auto; 
    width: 80%; 
}

.filter-guide {
    border-radius: 15px; 
    width: 100%; 
}